name: Client CI

defaults:
  run:
    working-directory: ./client
on:
  push:
    branches: [main]
    paths:
      - client/**
      - .github/**
  pull_request:
    branches: [main]
    paths:
      - client/**
      - .github/**
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - name: Build
        run: |
          npm install
          npm run test
