# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
    paths:
      - backend/**
      - .github/**
  pull_request:
    branches: [main]
    paths:
      - backend/**
      - .github/**

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          cache: "gradle"
          java-version: "21"
      - name: Test
        run: ./gradlew test
      - name: Build
        run: ./gradlew bootJar
